<%= form_with(model: employee, local: true) do |form| %>
  <% if employee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

      <ul>
      <% employee.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Emp_No %>
    <%= form.number_field :Emp_No, id: :employee_Emp_No %>
  </div>

  <div class="field">
    <%= form.label :First_Name %>
    <%= form.text_field :First_Name, id: :employee_First_Name %>
  </div>

  <div class="field">
    <%= form.label :Last_Name %>
    <%= form.text_field :Last_Name, id: :employee_Last_Name %>
  </div>

  <div class="field">
    <%= form.label :Birth_Date %>
    <%= form.date_select :Birth_Date, id: :employee_Birth_Date, :start_year => 1970 %>
  </div>

  <div class="field">
    <%= form.label :Hire_date %>
    <%= form.date_select :Hire_date, id: :employee_Hire_date, :start_year => 2015 %>
  </div>

  <div class="field">
    <%= form.label :Gender %>
    <%= form.select :Gender, Employee.Genders.keys%>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
