<p id="notice"><%= notice %></p>

<p>
  <strong>Emp #:</strong>
  <%= @employee.Emp_No %>
</p>

<p>
  <strong>First name:</strong>
  <%= @employee.First_Name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @employee.Last_Name %>
</p>

<p>
  <strong>Birth date:</strong>
  <%= @employee.Birth_Date %>
</p>

<p>
  <strong>Hire date:</strong>
  <%= @employee.Hire_date %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @employee.Gender %>
</p>

<%= link_to 'Edit', edit_employee_path(@employee) %> |
<%= link_to 'Back', employees_path %>
