<%= form_with(model: title, local: true) do |form| %>
  <% if title.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(title.errors.count, "error") %> prohibited this title from being saved:</h2>

      <ul>
      <% title.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Emp_No %>
    <%= form.text_field :Emp_No, id: :title_Emp_No %>
  </div>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :title_title %>
  </div>

  <div class="field">
    <%= form.label :from_date %>
    <%= form.text_field :from_date, id: :title_from_date %>
  </div>

  <div class="field">
    <%= form.label :to_date %>
    <%= form.text_field :to_date, id: :title_to_date %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
